@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,600,400);

body{
	font-family: 'Open Sans', sans-serif;
}

@pink: #ea156c;
@dark: #22292b;

.center{
	text-align: center;
}


#header{
	background: url('../img/main.jpg') no-repeat top center;
	background-size: cover;
	padding: 0;
	margin: 0;
	a{
		padding: 0 3px;
		transition: background-color 300ms linear;
		&:hover{
			background-color: #FFF;
			text-decoration: none;
			transition: background-color 300ms linear;
		}
	}
}

#index{
	#header{
		min-height: 800px;
	}
}

.fix{
	position: fixed;
	width: 100%;
	z-index: 900;
}
.download{
	padding: 20px 0px;
	min-height: 140px;
	background: url('../img/banner_download.svg') no-repeat;
	.center;
	img{
		.center;
		margin: 0 auto;
	}
}

.logo{
	.center;
	margin: 200px 0px 0px 0px;
	img{
		width: 100%;
	}
}

.intro{
	.center;
	font-size: 1.5rem;
	color: #f0f0f0;
	font-weight: 300;
	padding: 60px 0px;
}

#gallery{
	.img-responsive{
		padding: 15px 0px;
	}
	.fix{
		background-color: @dark;
	}
	#feed{
		margin-top: 120px;
		z-index: 1;
		position: relative;
	}
	.the_image{
		display: inline-block;
	}
	.the_nav{
		text-align: right;
	}
	.logo{
		margin: 0;
		.img-responsive{
			width: 80%;
		}
	}
}

button{
	background-color: @pink;
	border: 0;
	width: 4vw;
	height: 4vw;
	padding: 0;
	margin: 30px 0px 30px 20px;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
	background-size: 4vw;
	content: "";
	transition: background-color 300ms linear;
	&.left{
		transform: rotate(180deg);
	}
	&:hover{
		background-color: darken(@pink, 10%);
		transition: background-color 300ms linear;
	}
}


a{
	color: @pink;
	font-weight: 600;
	&:hover{
		color: @pink;
	}
}