@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,600,400);
body {
  font-family: 'Open Sans', sans-serif;
}
.center {
  text-align: center;
}
#header {
  background: url('../img/main.jpg') no-repeat top center;
  background-size: cover;
  padding: 0;
  margin: 0;
}
#header a {
  padding: 0 3px;
  transition: background-color 300ms linear;
}
#header a:hover {
  background-color: #FFF;
  text-decoration: none;
  transition: background-color 300ms linear;
}
#index #header {
  min-height: 800px;
}
.fix {
  position: fixed;
  width: 100%;
  z-index: 900;
}
.download {
  padding: 20px 0px;
  min-height: 140px;
  background: url('../img/banner_download.svg') no-repeat;
  text-align: center;
}
.download img {
  text-align: center;
  margin: 0 auto;
}
.logo {
  text-align: center;
  margin: 200px 0px 0px 0px;
}
.logo img {
  width: 100%;
}
.intro {
  text-align: center;
  font-size: 1.5rem;
  color: #f0f0f0;
  font-weight: 300;
  padding: 60px 0px;
}
#gallery .img-responsive {
  padding: 15px 0px;
}
#gallery .fix {
  background-color: #22292b;
}
#gallery #feed {
  margin-top: 120px;
  z-index: 1;
  position: relative;
}
#gallery .the_image {
  display: inline-block;
}
#gallery .the_nav {
  text-align: right;
}
#gallery .logo {
  margin: 0;
}
#gallery .logo .img-responsive {
  width: 80%;
}
button {
  background-color: #ea156c;
  border: 0;
  width: 4vw;
  height: 4vw;
  padding: 0;
  margin: 30px 0px 30px 20px;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-size: 4vw;
  content: "";
  transition: background-color 300ms linear;
}
button.left {
  transform: rotate(180deg);
}
button:hover {
  background-color: #bb1156;
  transition: background-color 300ms linear;
}
a {
  color: #ea156c;
  font-weight: 600;
}
a:hover {
  color: #ea156c;
}
